<table >
  <tr>
    <th>Item</th>
    <th>Unit Price</th>
    <th>Sale Price</th>
  </tr>
  <tr>
    <td>Milk</td>
    <td>$3.97 </td>
    <td>2 for $5.00</td>
  </tr>
  <tr>
    <td>Bread</td>
    <td>$2.17</td>
    <td>3 for $6.00</td>
  </tr>
  <tr>
    <td>Banana</td>
    <td>$0.99</td>
  </tr>
  <tr>
    <td>Apple</td>
    <td>0.89</td>
  </tr>
</table>

<h3></h3>

<form action="/bill">
  <label for="fname">Please enter all the items purchased separated by a comma</label><br>
  <input type="text" id="name" name="name" value=""><br>
  <input type="submit" value="Add Bill">
</form>